h1, h3, table {
    text-align: center;
}

th {
    font-weight: bold;
    color: white;
}

h1, h3, th {
    color: white;
}

table {
    margin: auto;
}

table, th, td {
    border: 3px solid;
    border-collapse: collapse;
    border-color: #bc986a;
  }

th, td, tr {  
    padding: 10px;
}

body {
    font-family: sans-serif;
    background-color: #659dbd;
    color: #fbecc1;
}

.code {
    font-family: monospace;
    font-size: large;
}
